[submodule "device-simulation"]
	path = device-simulation
	url = https://github.com/trbenning/device-simulation-dotnet.git
[submodule "webui"]
	path = webui
	url = https://github.com/trbenning/azure-iot-pcs-remote-monitoring-webui.git
[submodule "iothub-manager"]
	path = iothub-manager
	url = https://github.com/trbenning/iothub-manager-dotnet.git
[submodule "cli"]
	path = cli
	url = https://github.com/trbenning/pcs-cli.git
[submodule "storage-adapter"]
	path = storage-adapter
	url = https://github.com/trbenning/pcs-storage-adapter-dotnet.git
[submodule "telemetry-agent"]
	path = telemetry-agent
	url = https://github.com/trbenning/telemetry-agent-dotnet
[submodule "config"]
	path = config
	url = https://github.com/trbenning/pcs-config-dotnet.git
[submodule "auth"]
	path = auth
	url = https://github.com/trbenning/pcs-auth-dotnet.git
[submodule "telemetry"]
	path = telemetry
	url = https://github.com/trbenning/device-telemetry-dotnet.git
